{% extends "layout_12.html" %}
{% block full %}
  <div class="content-section">
    <div class="article-metadata">
      <h1>About</h1>
    </div>
    <h3>Hi There!</h3>
    <p>Welcome to Pirith Web (පිරිත් වේබ්).</p>
    <p>
      Pirith Web is a free website which is used as an easy and reliable resource for Buddhists.
    </p>
    <p>To dive right in, check out the <a href="home">home page</a>.</p>
    <p>For a full guide, go to the <a href="help">help page</a>.</p>
  </div>
{% endblock full %}
