{% extends "layout_8-4.html" %}
{% block content %}
  <div class="content-section">
    <div class="article-metadata">
      <h1>Welcome to Pirith Web!</h1>
      <h1>පිරිත් වෙබ් වෙත සාදරයෙන් පිළිගනිමු!</h1>
    </div>
    <h3>Content:</h3>
    <p><a href="user/Admin">All Content</a></p>
    <p><b>1.</b> <a href="post/1">Refuge to the Triple Gem - තෙරුවන් සරණ යාම හා පංච ශීලය</a></p>
    <p><b>2.</b> <a href="post/2">The Five Precepts - පානසිල සාමාදන වීම</a></p>
    <p><b>3.</b> <a href="post/3">Dhevaradana - දේවාරාධනා</a></p>
    <p><b>4.</b> <a href="post/4">Salutation to the Buddha - බුද්ධ රත්නය වන්දනා කිරීම</a></p>
    <p><b>5.</b> <a href="post/5">Salutation to the Dhamma - ධම්මරත්නය වන්දනා කිරීම</a></p>
    <p><b>6.</b> <a href="post/6">Salutation to the Sangha - සංඝරත්නය වන්දනා කිරීම</a></p>
    <p><b>7.</b> <a href="post/7">Worshipping the Chetiya - ත්‍රිවිධ චෛත්‍ය වන්දනා කිරීම</a></p>
    <p><b>8.</b> <a href="post/8">Pilgrimage to Solosmasthana - සොළොස්මස්ථාන වැඳීම</a></p>
    <p><b>9.</b> <a href="post/9">Worshipping the Bodhi - බෝධීන් වහන්සේට වන්දනා කිරීම</a></p>
    <p><b>10.</b> <a href="post/10">Sathsati Worship - සත් සතිය වැඳීම</a></p>
    <p><b>11.</b> <a href="post/11">Worshiping Jaya Sri Maha Bodhi - ජය ශ්‍රී මහා බෝ සමිදුන් වැඳීම</a></p>
    <p><b>12.</b> <a href="post/12">Invitation to Pooja - පුජා ආරාධනය</a></p>
    <p><b>13.</b> <a href="post/13">Conducting the Sambuddha Pooja - සම්බුද්ධ සුජාව සැවැත්වීම</a></p>
    <p><b>14.</b> <a href="post/14">Offering Light - පහන් ආලෝක පූජාව</a></p>
    <p><b>15.</b> <a href="post/15">Offering Incense - සුවඳ දුම් පූජාව</a></p>
    <p><b>16.</b> <a href="post/16">Offering Flowers - මල් පූජාව</a></p>
    <p><b>17.</b> <a href="post/17">Offering Water - පැන් පූජාව</a></p>
    <p><b>18.</b> <a href="post/18">Offering Medicinal Drinks - ගිලන්පස පූජාව</a></p>
    <p><b>19.</b> <a href="post/19">Offering Everything - සියලුම දේ පූජාකිරීම</a></p>
    <p><b>20.</b> <a href="post/20">The Purification - තෙරුවන් කමා කරවා ගැනීම</a></p>
    <p><b>21.</b> <a href="post/21">The Determination - අධිෂ්ඨාන කිරීම (සන්‍ය ක්‍රියාව)</a></p>
    <p><b>22.</b> <a href="post/22">Mangala Sutta - මහා මංගල සූත්‍රය</a></p>
    <p><b>23.</b> <a href="post/23">Ratana Sutta - රතන සූත්‍රය</a></p>
    <p><b>24.</b> <a href="post/24">Karaniya Metta Sutta - කරණීය මෙත්ත සූත්‍රය</a></p>
    <p><b>25.</b> <a href="post/25">Khanda Piritha - ඛන්ධ පිරිත</a></p>
    <p><b>26.</b> <a href="post/26">Mora Piritha - මෝර පිරිත</a></p>
    <p><b>27.</b> <a href="post/27">Rathnamali Gatha - රත්නමාලී ගාථා</a></p>
    <p><b>28.</b> <a href="post/28">Blessing in the Completion of Pirith - පිරිත් අවසන් කිරීමේ දී සෙත් පැතීම</a></p>

  </div>
  <div class="content-section">
    <small><b>DISCLAIMER:</b> This website is currently under development.</small>
  </div>
{% endblock content %}
