{% extends "layout_8-4.html" %}
{% block content %}
  <div class="content-section">
    <h1>Something Went Wrong (500)</h1>
    <p>We're experiencing some trouble on our end. Please try again in the near future. For support, check the <a href={{ url_for('main.help') }}>help</a> page or <a href={{ url_for('main.contact') }}>contact</a> us.</p>
  </div>
  <!-- <div class="content-section">
    <div class="article-metadata">
      <h1>Help</h1>
    </div>
    <p><b>1.</b> To register, click on the <a href="register">Register</a> button. Fill in the Username, Email, and Password Prompts, and click Register.</p>
    <p><b>2.</b> You can fill in the email and password to login at the <a href="login">Login</a> page. If you have forgotten your password, click on the <a href="reset_password">Forgot Password</a> button, and follow the prompts.</p>
    <p><b>3.</b> You can view your account in the <a href="account">Account</a> section. You can change your Username, Email, Password, or Profile Picture there.</p>
    <p><b>4.</b> You can create a new post by clicking on the <a href="post/new">New Post</a> section. Fill in the Title and Content, and click Post.</p>
    <p><b>5.</b> To update or delete your post, click on the title of the post in the <a href="home">Home</a> page, and click either update or delete.</p>
    <p><b>6.</b> You can check out the <a href="about">About</a> page to learn more about this website.</p>
    <p><b>7.</b> Click on the <a href="logout">Logout</a> button to logout.</p>
  </div> -->
{% endblock content %}
